body {
    margin: 0 auto;
    width: 70%;
    background: #fff;
    color: #252525;
    padding: 20px;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

main {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

main span {
    font-size: 20px;
}

.textbox {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: 15em;
    background: #252525;
    color: #fff;
}

/* Responsive Mobile */
@media screen and (max-width: 480px) {
    body {
        width: 100%;
    }
}